:root {
  /* === MODO CLARO === */
  --background: {color.primitive.slate.50.value};
  --foreground: {color.primitive.slate.900.value};
  --card: {color.primitive.white.value};
  --card-foreground: {color.primitive.slate.900.value};
  --primary: 12 91 239;
  --primary-foreground: {color.primitive.white.value};
  --primary-hover: {color.primitive.blue.700.value};
  --secondary: {color.primitive.slate.200.value};
  --secondary-foreground: {color.primitive.slate.900.value};
  --muted: {color.primitive.slate.200.value};
  --muted-foreground: {color.primitive.slate.500.value};
  --destructive: {color.primitive.red.600.value};
  --destructive-foreground: {color.primitive.white.value};
  --destructive-hover: {color.primitive.red.100.value};
  --success: {color.primitive.green.600.value};
  --success-foreground: {color.primitive.white.value};
  --warning: {color.primitive.yellow.500.value};
  --warning-foreground: {color.primitive.slate.900.value};
  --info: {color.primitive.blue.400.value};
  --info-foreground: {color.primitive.white.value};
  --input: {color.primitive.white.value};
  --input-solid: {color.primitive.white.value};
  --border: {color.primitive.slate.200.value};
  --ring: 12 91 239;
  --popover: {color.primitive.white.value};
  --popover-foreground: {color.primitive.slate.900.value};
  --accent: {color.primitive.slate.200.value};
  --accent-foreground: {color.primitive.slate.900.value};
  --title: {color.primitive.gray.700.value};
  --title-foreground: {color.primitive.white.value};

  /* === MODO OSCURO === */
  .dark {
    --background: {color.primitive.zinc.950.value};
    --foreground: {color.primitive.zinc.50.value};
    --card: {color.primitive.zinc.900.value};
    --card-foreground: {color.primitive.slate.50.value};
    --primary: 70 107 211;
    --primary-foreground: {color.primitive.white.value};
    --primary-hover: {color.primitive.blue.400.value};
    --secondary: {color.primitive.zinc.800.value};
    --secondary-foreground: {color.primitive.zinc.300.value};
    --muted: {color.primitive.zinc.700.value};
    --muted-foreground: {color.primitive.zinc.400.value};
    --destructive: 255 140 140;
    --destructive-foreground: {color.primitive.white.value};
    --destructive-hover: 68 10 10;
    --success: 120 220 150;
    --success-foreground: {color.primitive.white.value};
    --warning: 255 210 100;
    --warning-foreground: {color.primitive.white.value};
    --info: {color.primitive.blue.400.value};
    --info-foreground: {color.primitive.white.value};
    --input: {color.primitive.zinc.800.value};
    --input-solid: {color.primitive.zinc.800.value};
    --border: {color.primitive.zinc.700.value};
    --ring: 70 107 211;
    --popover: {color.primitive.zinc.900.value};
    --popover-foreground: {color.primitive.slate.50.value};
    --accent: {color.primitive.zinc.700.value};
    --accent-foreground: {color.primitive.zinc.300.value};
    --title: {color.primitive.zinc.50.value};
    --title-foreground: {color.primitive.slate.900.value};
  }
}
